html {
background: #f0f0f0;
font-family: Arial, sans-serif;
font-size: 16px;
}
body {
padding: 9px;
}
main {
background: #fafafa;
max-width: 800px;
margin: 0 auto;
padding: 0 10px 0 10px;
border: 1px solid #bbb;
border-radius: 15px;
box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
a {
text-decoration : none;
outline: none;
}
a:link {
color: #249;
}
a:visited {
color: #249;
}
a:hover {
text-decoration: none;
color: #942;
}
a:active {
color: #428;
}
img {
width: 100%;
}
.spo {
display: block;
background: #fff;
color: #fff;
border-bottom: 0px solid #333;
}
.spo:hover {
background: #fff;
color: #642;
}
.top {
display: inline-block;
padding: 14px 90px 14px 90px;
margin: 20px 0 10px 0;
background: #f0f0f0;
border: 1px solid #bbb;
border-radius: 15px;
color: #333;
}
.top:hover {
background: #e9e9e9;
cursor: pointer;
}
.head {
color: #666;
font-weight: bold;
margin: 12px 0 12px 4px;
font-size: 1.3em;
}
table {
width: 100%;
}
td {
padding: 2px 0 2px 2px;
border: 0px dotted #bbb;
vertical-align: top;
}
.stat {
font-size: 0.7em; 
margin: 0 auto; 
max-width: 800px; 
padding: 15px 15px 0 15px; 
font-weight: normal;
}
.ab {
color: grey;
width: 110px;
}
pre {
font-size: 0.8em;
white-space: pre-wrap;
word-wrap: break-word;
}
li {
padding: 0 0 9px 0;
}
smal {
font-size: 0.9em;
}
.w {
font-weight: bold;
}

	@media  screen and  (min-height: 550px)  {
		@media  screen and  (min-width: 750px)  {


body {
padding: 20px;
}

html {
font-size: 18px;
}
main {
padding: 10px 30px 25px 30px;
}
.head {
font-size: 1.2em;
margin: 18px 0 18px 0;
}
.top {
margin: 25px 0 5px 0;
}
.ab {
width: 130px;
}

		}
	}

