html {
background: #fafafa;
font-family: Arial;
font-size: 16px;
}
main {
max-width: 800px;
margin: 0;
padding: 20px;
border: 0px solid green;
}
a {
text-decoration : none;
outline: none;
}
a:link {
color: #249;
}
a:visited {
color: #249;
}
a:hover {
text-decoration: none;
color: #942;
}
a:active {
color: #428;
}
img {
width: 100%;
}
.spo {
display: block;
background: #fafbfc;
color: #fafbfc;
border-bottom: 0px solid #333;
}
.spo:hover {
background: #fafbfc;
color: #642;
}
.top {
display: inline-block;
padding: 10px 40px 10px 40px;
margin: 10px 0 5px 0;
background: #f0f0f0;
border: 1px solid #ddd;
border-radius: 20px;
}
.top:hover {
background: #e9e9e9;
}
.noframe {
padding: 5px 0 0 7px;
}
.head {
color: #666;
font-weight: bold;
margin: 8px 0 8px 0;
}
td {
padding: 3px 9px 0 0;
border: 0px solid red;
vertical-align: top;
min-width: 100px;
}
.ab {
color: grey;
}
pre {
font-size: 0.8em;
}
li {
padding: 0 0 9px 0;
}
smal {
font-size: 0.9em;
}
.w {
font-weight: bold;
}











